#content {
    padding: 10px;

    article {
        h2 {
            color: rgb(164, 164, 164);
            font-size: 3.5rem;
        }

        div {
            p {
                font-size: 2.2rem;
            }
        }
    }
}