#projects {
    #projects-info {
        min-height: 100vh;

        #projects-title {
            display: grid;
            justify-content: center;
            font-weight: 600;
            font-size: 2rem;
        }
        #projects-introduction {
            font-size: 1.2rem;
        }
        #project-lists {
            display: grid;
            grid-auto-flow: column;
            justify-content: start;
            gap: 15px;
            font-size: 1.2rem;

            #pr-list-title {

            }

            #pr-list-lists {
                display: grid;
                grid-auto-flow: column;
                justify-content: start;
                
                .pr-list-list {
                    color: black;
                }
                .pr-list-comma {
                    padding-right: 5px;
                }
                .pr-list-end {}
            }
        }
    }
    
    .projects-list {
        min-height: 100vh;
        padding-top: 120px;

        .title {
            display: grid;
            justify-content: start;
            font-weight: 600;
            font-size: 1.8rem;
        }
        .projects {
            ul {
                padding-left: 25px;
                font-size: 1.2rem;
                list-style-type: decimal-leading-zero;

                li {
                    .project {
                        color: black;

                        &:hover {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}