#bio #content-title {
  display: grid;
  justify-content: center;
  font-weight: 600;
  font-size: 2rem;
}
#bio #content-info {
  margin-bottom: 50px;
}
#bio #content-info #intro {
  display: grid;
  gap: 25px;
}
@media (min-width: 250px) {
  #bio #content-info #intro {
    grid-auto-flow: column;
    justify-content: space-between;
  }
}
#bio #content-info #intro #content-introduction {
  display: grid;
  gap: 10px;
  font-size: 1.2rem;
}
#bio #content-info #intro #bio-title-photo {
  display: grid;
  width: 90px;
  border-radius: 5px;
}