#bio {
    #bio-info {
        margin-bottom: 50px;

        #bio-title {
            display: grid;
            justify-content: center;
            font-weight: 600;
            font-size: 2rem;
        }

        #intro {
            display: grid;

            @media(max-width: 250px){
                grid-auto-flow: column;
            }
            @media(min-width: 250px){
                grid-auto-flow: row;
            }

            #bio-introduction {
                font-size: 1.2rem;
            }

            .photo {
                width: 90px;
            }
        }
    }
    
    
}