#blog #blog-info {
  padding-bottom: 15px;
}

#blog #blog-info #blog-title {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 2rem;
}

#blog #blog-info #blog-introduction {
  font-size: 1.2rem;
}

#blog #blogs {
  display: -ms-grid;
  display: grid;
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 300px) {
  #blog #blogs {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
  }
}

@media (min-width: 750px) {
  #blog #blogs {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 1450px) {
  #blog #blogs {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 2200px) {
  #blog #blogs {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
}

@media (min-width: 2950px) {
  #blog #blogs {
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
  }
}

#blog #blogs .blog {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border: 1px solid black;
  border-radius: 5px;
  background: #deff99;
  padding: 10px;
}

@media (min-width: 0px) {
  #blog #blogs .blog {
    grid-auto-flow: row;
  }
}

@media (min-width: 426px) {
  #blog #blogs .blog {
    grid-auto-flow: column;
  }
}

#blog #blogs .blog .blog-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 5px;
}

@media (min-width: 0px) {
  #blog #blogs .blog .blog-image {
    width: 82vw;
  }
}

@media (min-width: 426px) {
  #blog #blogs .blog .blog-image {
    width: 38vw;
  }
}

@media (min-width: 750px) {
  #blog #blogs .blog .blog-image {
    width: 16vw;
  }
}

@media (min-width: 1406px) {
  #blog #blogs .blog .blog-image {
    width: 12vw;
  }
}

@media (min-width: 2950px) {
  #blog #blogs .blog .blog-image {
    width: 10vw;
  }
}

#blog #blogs .blog .blog-info {
  display: -ms-grid;
  display: grid;
  gap: 5px;
}

#blog #blogs .blog .blog-info .blog-header {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 0px) {
  #blog #blogs .blog .blog-info .blog-header {
    grid-auto-flow: row;
  }
}

@media (min-width: 426px) {
  #blog #blogs .blog .blog-info .blog-header {
    grid-auto-flow: column;
  }
}

#blog #blogs .blog .blog-info .blog-header .blog-title {
  font-weight: 600;
}

@media (min-width: 0px) {
  #blog #blogs .blog .blog-info .blog-header .blog-title {
    font-size: 23px;
  }
}

@media (min-width: 1010px) {
  #blog #blogs .blog .blog-info .blog-header .blog-title {
    font-size: 28px;
  }
}

@media (min-width: 0px) {
  #blog #blogs .blog .blog-info .blog-header .blog-cathegory {
    font-size: 18px;
  }
}

@media (min-width: 1010px) {
  #blog #blogs .blog .blog-info .blog-header .blog-cathegory {
    font-size: 23px;
  }
}

@media (min-width: 0px) {
  #blog #blogs .blog .blog-info .blog-description {
    font-size: 16px;
  }
}

@media (min-width: 1010px) {
  #blog #blogs .blog .blog-info .blog-description {
    font-size: 20px;
  }
}
/*# sourceMappingURL=blog.css.map */