#header {
  background: #015221;
  display: grid;
  grid-gap: 0;
}
#header section {
  padding: 1rem;
  display: grid;
  grid-auto-flow: column;
}
@media (min-width: 0px) {
  #header section {
    grid-auto-flow: unset;
    justify-items: center;
  }
}
@media (min-width: 500px) {
  #header section {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    grid-gap: 1rem;
  }
}
#header section #ikona {
  width: 6rem;
  border-radius: 1rem;
  transition: 0.5s;
}
#header section #ikona:hover {
  border-radius: 50%;
}
#header section h1 {
  color: rgb(153, 255, 0);
  font-size: 4.8rem;
}
@media (min-width: 0px) {
  #header section h1 {
    font-size: 2.8rem;
  }
}
@media (min-width: 500px) {
  #header section h1 {
    font-size: 4.8rem;
  }
}
#header nav {
  padding: 0.5rem 0;
  background: rgb(0, 0, 0);
}
#header nav #actual {
  text-decoration: underline;
  font-weight: 600;
}
#header nav a {
  color: rgba(255, 255, 255, 0.466);
  background: black;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem;
}
#header nav a:hover {
  color: black;
  background: rgba(255, 255, 255, 0.466);
  font-weight: 600;
}