#footer {
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.679);
  color: rgb(255, 255, 255);
}
#footer #kontakt {
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
  justify-content: center;
}
#footer #kontakt .kontakt {
  display: grid;
  justify-content: center;
  align-content: center;
  color: rgb(0, 0, 0);
  background: rgb(132, 132, 132);
  border-radius: 50%;
  text-decoration: none;
  width: 5rem;
  height: 5rem;
}
#footer #kontakt .kontakt:hover {
  color: rgb(136, 136, 136);
  background: rgb(0, 0, 0);
}
#footer #create {
  color: whitesmoke;
}
@media (min-width: 0px) {
  #footer #create {
    font-size: 1.4rem;
  }
}
@media (min-width: 600px) {
  #footer #create {
    font-size: 2.1rem;
  }
}