#footer {
    display: grid;
    grid-gap: 1rem;
    justify-items: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.679);
    color: rgb(255, 255, 255);

    #kontakt {
        display: grid;
        grid-gap: 1rem;
        grid-auto-flow: column;
        justify-content: center;

        .kontakt {
            display: grid;
            justify-content: center;
            align-content: center;

            color: rgb(0, 0, 0);
            background: rgb(132, 132, 132);
            border-radius: 50%;
            text-decoration: none;

            width: 5rem;
            height: 5rem;

            &:hover {
                color: rgb(136, 136, 136);
                background: rgb(0, 0, 0);
            }
        }
    }

    #create {
        color: whitesmoke;

        @media(min-width: 0px){
            font-size: 1.4rem;
        }

        @media(min-width: 600px){
            font-size: 2.1rem;
        }
    }
}