* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    position: relative;
    min-height: 100vh;
    background: #5c9e31;
    //background: green;
    //font-family: 'Times New Roman', Times, serif;
    font-weight: 500;

    display: grid;
    grid-template-rows: auto 1fr auto;

    @media(min-width: 0px){
        font-size: 1.5rem;
    }

    @media(min-width: 600px){
        font-size: 2.3rem;
    }

    @media(min-width: 660px){
        font-size: 2.3rem;
    }
}