#home {
    #content-title {
        display: grid;
    }
    
    #content-info {

        a {
            font-weight: 600;
            text-decoration: none;

            &:hover {
                font-weight: 600;
                text-decoration: underline;
            }
        }

        #introduction {
            font-size: 1.2rem;

            #link-bio {
                margin-left: 5px;
                margin-right: 5px;
                color: rgb(104, 68, 0);
            }

            #bt-about {
                padding-top: 10px;
                display: grid;
                grid-auto-flow: column;
                justify-content: start;
                grid-gap: 5px;

                div {

                }

                //ked bude fungovat link na about, odstranim decoration none
                #link-about {
                    color: rgb(52, 75, 0);
                    text-decoration: none;
                }

            }

            p {

                
            }
        }
    }
}