#home {
    #content-title {
        display: grid;
        justify-content: center;
        font-weight: 600;
        font-size: 2rem;
    }
    #content-info {
        #introduction {
            font-size: 1.2rem;

            #bt-about {
                padding-top: 10px;
                display: grid;
                grid-auto-flow: column;
                justify-content: start;
                grid-gap: 5px;

                div {

                }

                a {
                    text-decoration: underline;
                    color: rgb(52, 75, 0);
                }
            }

            p {

                
            }
        }
    }
}