#content {
    background: #efffcc;

    @media(min-width: 0px) {
        padding: 10px;
        padding-top: 140px;
    }

    @media(min-width: 426px) {
        padding: 15px;
        padding-top: 105px;
    }

    @media(min-width: 750px) {
        padding: 25px;
        padding-top: 105px;
    }

    @media(min-width: 1450px) {
        padding: 30px;
        padding-top: 105px;
    }
}

//padding-top: 125px;