#footer {
  display: grid;
  justify-items: center;
  grid-gap: 5px;
  padding: 10px;
  background: #6f961d;
}
#footer #social-media {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 5px;
  padding: 5px;
}
#footer #social-media .media {
  display: grid;
  justify-content: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
#footer #footer-info {
  display: grid;
  color: white;
}
@media (min-width: 0px) {
  #footer #footer-info {
    grid-auto-flow: row;
    justify-items: center;
  }
}
@media (min-width: 426px) {
  #footer #footer-info {
    grid-auto-flow: column;
    gap: 10px;
  }
}
@media (min-width: 750px) {
  #footer #footer-info {
    grid-auto-flow: column;
    gap: 10px;
  }
}
@media (min-width: 1450px) {
  #footer #footer-info {
    grid-auto-flow: column;
    gap: 10px;
  }
}