#header {
  position: fixed;
  width: 100%;
  background: white;
}
#header section {
  display: grid;
  background: #6f961d;
}
@media (min-width: 0px) {
  #header section {
    padding: 5px;
    grid-auto-flow: row;
    justify-items: center;
  }
}
@media (min-width: 426px) {
  #header section {
    padding: 10px;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }
}
#header section a #header-logo {
  width: 35px;
  border-radius: 10px;
  transition: 0.5s;
}
#header section a #header-logo:hover {
  border-radius: 50%;
}
#header section #header-title {
  font-weight: 800;
  font-size: 2.5rem;
  color: #efffcc;
}
@media (min-width: 0px) {
  #header section #header-title {
    font-size: 1.8rem;
    padding-right: 0px;
  }
}
@media (min-width: 426px) {
  #header section #header-title {
    font-size: 2.5rem;
    padding-right: 50px;
  }
}
#header #header-menu {
  display: grid;
  background: #91d62a;
}
@media (min-width: 0px) {
  #header #header-menu {
    padding: 5px;
    grid-auto-flow: row;
    justify-items: center;
    gap: 10px;
  }
}
@media (min-width: 426px) {
  #header #header-menu {
    padding: 10px;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 0px;
  }
}
#header #header-menu nav {
  display: grid;
  grid-auto-flow: column;
}
@media (min-width: 0px) {
  #header #header-menu nav {
    gap: 5px;
  }
}
@media (min-width: 426px) {
  #header #header-menu nav {
    gap: 10px;
  }
}
#header #header-menu nav #actual {
  text-decoration: underline;
}
#header #header-menu nav a {
  text-decoration: none;
  color: black;
}
@media (min-width: 0px) {
  #header #header-menu nav a {
    font-size: 1rem;
  }
}
@media (min-width: 426px) {
  #header #header-menu nav a {
    font-size: 1.2rem;
  }
}
#header #header-menu nav a:hover {
  color: brown;
  font-weight: 800;
}
#header #header-menu #search {
  padding-left: 2px;
  border-radius: 5px;
  border: 2px solid black;
  background: whitesmoke;
  color: black;
}
@media (min-width: 0px) {
  #header #header-menu #search {
    width: 145px;
  }
}
@media (min-width: 426px) {
  #header #header-menu #search {
    width: 110px;
  }
}
@media (min-width: 650px) {
  #header #header-menu #search {
    width: 220px;
  }
}

#content #content-title {
  margin: 10px;
  margin-bottom: 25px;
  display: grid;
  justify-content: center;
  font-weight: 600;
  font-size: 2rem;
}